div {
    background-color: whitesmoke;
}

.sidebar {
    width: 20%;
    flex-direction: column;
    border: 10px solid rgb(129, 28, 218);
}
.home:hover, .about-me:hover, .portfolio:hover, .contact-me:hover {
    background-color: rgb(216, 188, 241);
    color:  rgb(129, 28, 218);
}   
.home, .about-me, .portfolio, .contact-me {
    padding: 10px;
}
a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}
img {
    border-radius: 50pc;
    width: 75px;
    height: 75px;
    border: 2px solid black;
}
.photo {
    text-align: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    /* background-color: rgb(196, 154, 233); */
}