/* padding for content */
.spaced-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: auto;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: "left main right";
    align-items: center;
}
/*  top section of header  */
.google {
    display: flex;
    justify-content: center;
    font-size: 30px;
    grid-area: left;
    margin-right: 3rem;
}
.g {
    color: rgb(0, 110, 255);
}
.o, .e {
    color: rgb(253, 17, 17);
}
.o2 {
    color: rgb(218, 214, 0);
}
.l {
    color: rgb(74, 182, 41);
}
/* right side of header*/
.profile-options {    
    grid-area: right;
    display: flex;
    justify-content: right;
    align-items: center;
}
.pfp {
    margin: 0px 10px;
    width: 25px;
    height: 25px;
    border-radius: 50pc;
}
.profile-options > a > img{
    width: 15px;
    height: 15px;
}
/* search bar */
.search-bar {
    width: 100%;
    position: relative;
    grid-area: main;
}
input {
    height: 35px;
    width: 100%;
    border-radius: 5pc;
    padding-left: 2%;
    font-size: 1rem;
    color: black;
}
.search-bar-icons {
    display: flex;
    z-index: 1000;
    gap: .5rem;
    position: absolute;
    right: 2%;
    top: 30%;
}
.search-bar hr {
    width: 0.063rem;
    height: 1.25rem; 
    background-color: black;
    border: none; 
    margin: 0 0.313rem; 
}
.glass {
    color: blue;
}
/*  bottom seciton of header  */
.search-types {
    padding: 1.6rem 0px;
    grid-area: main;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    grid-template-rows: 1; 
}
.search-types a {
    color: grey;
    text-decoration: none;
}
.search-types  a:hover {
    color: skyblue;
    border-bottom: 5px solid skyblue;
    padding-bottom: 1.25rem;
}
.left-types, .right-types  {
    display: flex;
    gap: 0.7rem;
}
hr.header-bottom-hr {
    background-color: lightgrey;
    border: none;
    width: 100%;
    height: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
}
/* show search results */
.results-time {
    grid-area: main;
}
.search-results-flex-container {
    text-align: left;
}
.search-results-flex-container {
    grid-area: main;
}
.results-time {
    color: grey;
}
/* style posts themselves */
.results-link-container {
    display: flex;
    align-content: center;
}
.site-icon {
    align-self: center;
    margin-right: .5rem;
    font-size: 1.65rem;
}
.link-header {
    margin: 0;
    padding: 0;
}
.result {
    margin-bottom: 2rem;
}
.results-time p {
    font-size: 0.875rem;
}
.result-link span {
 font-size: 0.875rem;
}
.result-link .site-dir {
    color: grey;
}
.result-link .site-dir i {
    font-size: 0.5rem;
}
.result .page-title a{
    text-decoration: none;
    font-size: 1.25rem;
}
.result .page-title {
    margin: 0.2rem 0px;
}
.result .page-description p {
    margin: 0;
    color: grey;
}
/* people also ask styles */
.people-also-ask {
    border: 2px solid lightgrey;
    border-radius: 10px;
}
h4 {
    font-size: 1.35rem;
    font-weight: 500;
}
.also-ask {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}
.also-ask p, .also-ask i, h4 {
    margin: 0.75rem 1rem;
}
.feedback {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2rem ;
    font-style: italic;
    color: gray;
    font-size: .85rem;
}

