img {
    width: 80px;
    height: 80px;
    border-radius: 50pc;
}
.person {
    border: 1px solid black;
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 400px;
}
body {
    background-color:  rgb(4, 4, 104);
}
.name {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}